<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.modern.onlineshopping">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ongreen"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Navigation"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Login"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Registration"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Forgotpassword"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Navimoblist"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Navilaptoplist"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Navitabletlist"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Navimen"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Naviwomen"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Navikids"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Kitchen_dining"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Navilighting"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Navioffers"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Mobiledetails" />
        <activity android:name=".Searchcategory"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            ></activity>
    </application>

</manifest>